html {
  /* 平滑滚动 */
  scroll-behavior: smooth;
}


.back {
  /* 固定定位 */
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 40px;
  height: 40px;
  background-color: pink;
}


/* index专门的样式 */
.entry {
  height: 500px;
  background-color: #F5F5F5;
}

.entry .w {
  position: relative;
  height: 500px;
  /* background: url(../uploads/banner1.png) no-repeat; */
}

.entry .category {
  position: absolute;
  /* 分类导航栏 要在banner上面 */
  z-index: 99;
  top: 0;
  left: 0;
  width: 250px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
}

.category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 0 10px 0 29px;
  color: #FFFFFF;
}

.category ul li:hover {
  background-color: #5EB69C;
}

.category ul li a {
  font-size: 14px;
  margin-right: 10px;
  color: #FFFFFF;
}

.category ul li a:first-child {
  font-size: 16px;
  margin-right: 14px;
}

.banner {
  position: relative;
}

.banner .circle {
  /* 使用定位 需要设置位置 */
  position: absolute;
  display: flex;
  gap: 16px;
  bottom: 20px;
  right: 20px;
}

.banner .circle li {
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.banner .circle li:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}

.banner .arrow-right,
.banner .arrow-left {
  position: absolute;
  top: 50%;
  /* 使阴影盒子垂直居中 */
  margin-top: -30px;
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner .arrow-right {
  right: 0;
}

.banner .arrow-left {
  left: 250px;
}

.banner .arrow-right i,
.banner .arrow-left i {
  font-size: 30px;
  text-align: center;
  line-height: 60px;
}

.banner .arrow-right i:hover,
.banner .arrow-left i:hover {
  color: #ff6900;
}


/* 这里主要是一些文字 但是子元素无法撑起高度 因此需要手动设置高度 */
.box-hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
}

.box-hd h5 {
  font-size: 30px;
}

.box-hd h5 small {
  font-size: 16px;
  color: #A1A1A1;
  margin-left: 35px;
}

.box-hd a {
  color: #A1A1A1;
}


.box-bd {
  height: 404px;
}

.box-bd ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 新鲜好物模块 列表项的背景颜色 */
.box-bd ul li {
  width: 304px;
  height: 404px;
  background-color: #EEF9F4;
  text-align: center;
}

.box-bd ul li a {
  /* 块级元素 才可以设置高度 */
  display: block;
  height: 100%;
}

.box-bd ul li img {
  width: 100%;
  height: 304px;
}

.box-bd ul li h3 {
  font-size: 20px;
  margin: 20px 25px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box-bd ul li p {
  font-size: 22px;
  color: #AA2113;
}

.box-bd ul li p small {
  font-size: 16px;
}

/* 人气推荐模块 列表项的背景颜色 同新鲜好物模块有所不同 
    由于权重问题 会覆盖掉新鲜好物模块的背景颜色
 */
.hot .box-bd ul li {
  background-color: #FFFFFF;
}

.hot {
  margin-bottom: 60px;
}

.brand {
  height: 468px;
  background-color: #F5F5F5;
}

.hd {
  height: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd h5 {
  font-size: 30px;
}

.hd h5 small {
  font-size: 16px;
  color: #A1A1A1;
  margin-left: 35px;
}

.hd a {
  color: #A1A1A1;
}

.hd .divider {
  height: 122px;
  display: flex;
  align-items: flex-end;
}

.hd .divider a {
  padding-left: 12px;
  margin-bottom: 15px;
}

.hd .divider a:hover {
  color: #5EB69C;
}

.ed ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.ed li {
  width: 244px;
  height: 306px;
}

.header {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h5 {
  font-size: 30px;
}

.header .right {
  display: flex;
}

.header a {
  color: #A1A1A1;
}

.right ul {
  display: flex;
  gap: 20px;
}

.right ul li a {
  padding: 3px 5px;
}

.right ul li a:hover {
  color: #FFFFFF;
  background-color: #5EB69C;
}

.right .more {
  margin-left: 65px;
}

.body {
  display: flex;
  justify-content: space-between;
}

.body .body-l {
  /* 因为父亲已经设置为flex 所以这里面的a可以有高度 */
  width: 248px;
  height: 610px;
}

.body .body-r {
  display: flex;
  flex-wrap: wrap;
  width: 968px;
  height: 610px;
}

.body .body-r li {
  width: 242px;
  height: 305px;
  padding: 10px 21px 0;
}

.body .body-r li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 16px;
}

.body .body-r li a img {
  width: 200px;
  height: 180px;
}

.body .body-r li a h3 {
  margin-top: 10px;
  font-size: 16px;
}

.body .body-r .price {
  margin-top: 15px;
  font-size: 22px;
  color: #AF2F22;
}

.body .body-r .price small {
  font-size: 16px;
}

.news {
  margin-bottom: 40px;
}



.news ul {
  display: flex;
  gap: 12px;
}

.news ul li {
  flex: 1;
  height: 355px;
}


.news .img {
  width: 100%;
}

.news .con {
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 14px;
}

.news .con p span {
  margin-right: 20px;
}